/************************************
** 全体
************************************/
body {
	width: 50%;
	margin: 40px auto;
}

.equip_th {
	background-color: #C0C0C0;
	border: 1px solid black;
}

.equip_td {
	height: 30px;
	text-align: center;
	font-weight: bold;
}

.equip_img {
	width:100%;
	max-width: 190px;
	margin: 0 auto;
	height: auto;
}

.unit_td {
	text-align: center;
	font-weight: bold;
}

.unit_img {
	width:100%;
	max-width: 128px;
	margin: 0 auto;
	height: auto;
}

.unit_name {
	padding-left: 10px;
	font-weight: 700;
}

.select_label {
	cursor: pointer;
	padding: 5px;
	border: 1px solid #434343;
	border-radius: 5px;
}

.select_equip {
	display: none;
}

.select_equip:checked + .select_label {
	background-color: #6ca0ce;
}

.err_msg {
	color: red;
}

/* パーティ用の選択、取消用のボタン */
.btn,
a.btn,
button.btn {
	font-weight: 600;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: #212529;
	border-radius: 5px;
}

button.unit_btn {
	background-color: #6ca0ce;
	border-bottom: 5px solid #4d69b5;
}

button.unit_btn:active {
	margin-top: 3px;
	background: # fff20a;
	border-bottom: 2px solid #6ca0ce;
}
